.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
}

.input {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.button:hover,
.button:focus {
  background-color: #a09ba1;
}
